.cnt {
    width: 100%;
    height: 100%;
    padding: 10px;

    .top {
        width: 100%;
        // height: 200px;
        display: flex;
        align-items: flex-end;
        gap: 10px;

        .donut_chart {
            flex-basis: 25%;
            width: 50%;
            height: 255px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-radius: 10px;
            box-shadow: $box-shadow;
        }

        .left {
            flex-basis: 75%;
            width: 100%;

            .calendar_header {
                width: 30%;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                margin-left: auto;

                .years {
                    flex-basis: 20%;
                }

                .months {
                    flex-basis: 80%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .month_e {
                        padding: 4px 8px;
                        cursor: pointer;
                        border: 1px solid #edd7f8;
                        margin-right: 10px;
                        border-radius: 5px;
                        font-size: 14px;

                        &.active {
                            background: #edd7f8;
                        }
                    }
                }
            }



            .summary_card {
                width: 100%;
                height: 255px;
                display: flex;
                gap: 0 10px;
                border-radius: 10px;
                box-shadow: $box-shadow;
                align-items: center;
                justify-content: center;
            }
        }

    }

    .main {
        width: 100%;
        margin-top: 10px;

        .table_cnt {
            width: 100%;

            .table_top {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .filter {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    .fields {
                        flex: 1 1 0;
                        height: 35px;
                    }

                }
            }

            .table_main {
                display: flex;
                gap: 20px;

                .table {
                    flex-basis: 70%;
                    width: 100%;
                }

                .category_wise {
                    flex-basis: 30%;
                    width: 100%;
                    // border: 1px solid #ccc;
                    border-radius: 8px;
                    // padding: 10px;

                    .title {
                        font-weight: 400;
                        margin-bottom: 10px;
                        font-size: 18px;
                    }

                    .ct_list {
                        width: 100%;

                        .ct_list_item {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid #cecece;
                            border-radius: 5px;
                            font-size: 14px;

                            .ct_item {
                                margin: 20px 0;
                                gap: 0 15px;
                                display: flex;
                                align-items: center;
                            }

                            .badge {
                                display: flex;
                                align-items: center;
                                font-size: 12px;
                                font-weight: 400;
                                padding: 4px 10px;
                                border-radius: 5px;
                                background: #F1DFF9;
                            }
                        }
                    }
                }
            }
        }
    }
}