.cnt {
    width: 100%;
    height: 100vh;
    background: #ffffff78;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;

    .loading_div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 150px;
    }
}