.cnt {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .main {
        width: 500px;
        height: 300px;
        box-shadow: 0px 1px 6px rgba($color: #000000, $alpha: .2);
        border-radius: 10px;
        padding: 40px 20px;

        .head {
            width: 100%;
            text-align: center;

            .desc {
                font-size: 14px;
                margin-top: 10px;
            }
        }

        .body {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .left {
                flex-basis: 30%;

                .logo {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .right {
                flex-basis: 70%;
                width: 100%;

                .fields {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    .icon {
                        background: #f1dff9;
                        padding: 5px 6px;
                        border-radius: 5px;
                    }

                    input {
                        width: 100%;
                        padding: 8px 5px;
                        margin-left: 10px;
                        outline: none;
                    }
                }

                .submit {
                    width: 100px;
                    height: 30px;
                    margin-left: auto;

                    button {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        background: #f1dff9;
                        border-radius: 5px;
                        color: #000;
                        font-weight: 600;
                    }
                }
            }

        }



    }
}