table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    tr {
        th {
            width: 200px;
            padding: 8px 12px;
            background: #f0e6f5;
        }

        th:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        th:last-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        td {
            width: 200px;
            padding: 10px 12px;
            border-bottom: 1px solid #eee;
            text-align: center;
        }
    }
}


.fallback {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    img {
        width: 200px;
    }

    h3 {
        margin-top: 10px;
    }
}